@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Roboto:wght@400;700&family=Rubik:wght@400;500&display=swap');
  /*Font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
button {
    font-family: 'Bebas Neue';
font-weight: 400;
font-size: 1.125rem;
border: none;
outline: none;
display: inline-block;
text-align: center;
text-decoration: none;
color: white;
background: black;
line-height: 150%;
}
:root {
    font-size: 16px;
    --main-header: #323232;
    --pink-color:#CC4C6E;
    --pink-sell:#FF3465;
    --dark-grey:#5C5C66;
    --grey-color: #BCBCBC;
}
.container{
    width: 1676px;
    margin: 0 auto;
    max-width: 100%;
}
.main-block.{
    height: 698px;
}
header{
    height: 136px;
}

.navigation{
    background: var(--main-header);
    height: 49px;
}
.navigation-content{
    display: flex;
    justify-content: space-between;
}
.navigation-gorod{
    display: flex;
    margin: 14px 0;
}
.navigation-gorod p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 0.875rem;
}
.navigation-gorod img{ 
    Width: 8.01px;
    Height: 4.95px;
    margin-left: 18px;
    margin-top: 9px;
}
.navigation-tel{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1.375rem;
    margin: 10px 0;
}
.main-menu{
    height: 87px;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 765px;
    padding: 33px 0 27px 0;
}
.main-menu  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
  
}
.menu li a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.125rem;
}
.main-menu-content
{
    display: flex;
    justify-content: space-between;
}
.main-menu-right{
margin-top: 40px;
}
.main-menu-right img{
   margin-left: 23.5px;
    }
.main-menu-left{
    display: flex;
}
.main-menu-left img{
    height: 38px;
    width: 124px;
    margin-right: 48px;
    margin-top: 32px;
    }
    .main-block-content{
    background-image: url("../img/main-block/fon.png");
    min-height: 698px;
    background-size: cover;
    position: relative;
}
.main-block-content-d{
padding: 90px 0 0 121px;
}
.main-block-content-d h1{
    font-family: 'Rubik';
font-size: 6.2rem;
font-weight: 500;
}
.main-block-content-d h3{
    font-family: 'Rubik';
font-weight: 400;
font-size: 1.5rem;
}
.main-block-content-d .button1{
    width: 268px;
    height: 58px;
    margin-top: 45px;
}
.line { width: 68px;
    height: 2px;
    background-color: black;
    margin-top: 66px;
    margin-left: -765px;
}
.about-block{
    margin-top: 68px;
    height: 480px;

}
.about-block-content{
    display: flex;
}
.about-block-content-right{
margin-left: 72px;
}
.about-block-content-right h2{
    font-family: 'Roboto';
    line-height: 130%;
font-weight: 400;
font-size: 2rem;
    }
.about-block-content-right p{
        font-family: 'Roboto';
        font-weight: 400;
    font-size: 1rem;
        }
 .about-block-content-right .p1{
            margin-top: 12px;
            line-height: 150%;
             }
.about-block-content-right .p2{
           color: var(--pink-color);
           margin-top: 22px;
            }
.about-block-preim{
                display: flex;
                justify-content: space-between;
                margin: 36px;
            }
.about-block-preim-card{
    width: 400px;
    height: 87px;
    padding: 21px 180px 20px 0;
    background: white;

}
.about-block-preim-card p{
font-family: 'Bebas Neue';
font-weight: 400;
font-size: 1.125rem;

}
.new-block{
    margin-top: 64px;
    height: 575px;
}
.new-block-header{
    display: flex;
    justify-content: space-between;
}
.new-block-header h3{
    font-family: 'Open Sans';
font-weight: 400;
font-size: 1.75rem;

}
.img-str{
    width: 20px;
    height: 10px;
   
}
.product{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.card-product{
    width: 377px;
    height: 507px;
    background: white;
}
.sell{
    background: var(--pink-sell);
    width: 56px;
    height: 56px;
    padding: 21px 14px;
    color: white;
    font-family: 'Roboto';
font-weight: 700;
font-size: 0.75rem;
}
.card-product .img1{
  margin: 19px 41.5px 0 41.5px;
}
.card-product .img2{
    margin: 75px 41.5px 0 41.5px;
  }
.card-product-d{
    display: flex;
}
.card-product h3{
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 99px;
    margin-left: 25px;
}
.card-product-d {
    margin-top: 10.85px;
}
.card-product-d .p1{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--dark-grey);
    margin-left: 25px;
}
.card-product-d .p2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1rem;
    margin-left: 29px;
}
.card-product-d .p3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--grey-color);
    margin-left: 8px;
   margin-top: 2px;
}
.sell-block{
margin-top: 25px;
min-height: 637PX;
}
.sell-block-header{
    margin-left: 214px;
    display: flex;
    justify-content: space-between;
}
.sell-block-header h3{
    font-family: 'Roboto';
font-weight: 400;
font-size: 1.75rem;
}
.sell-block-content{
    display: flex;
    margin-top: 31px;
    justify-content: space-between;
}
.sell-card{
width:990px;
height:570px;

}
.sell-card img{
    width: 990px;
height: 482px;
    }
.sell-card h2{
    margin: -31px 0 0 32px;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 3rem;
}
.sell-card p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.125rem;
    color: 
    #969696;
    margin-top: 4px;   
}
.rek-block{
    margin-top: 59px;
    min-height: 519px;
}
.rek-block-header{
    display: flex;
    justify-content: space-between;
}
.rek-block-header h3{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.75rem;
}
.reclama-block{
margin-top: 125px;
min-height: 453px;
display: flex;

}
.reclama-block-rhight{
margin-left: 59px;
padding: 63px 0 0 0 ;
}
.reclama-block-rhight h1{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 3rem;
    line-height: 110%;
}
.reclama-block-rhight h3{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.375rem;
}
.h3-1{
margin-top: 15px;
color: #5A5A5A;
}
.h3-2{
    margin-top: 17px;
    color: #9A9A9A;
}
.reclama-block-rhight img{
 margin-top: 8px;}
.button2{
margin-top: 30px;
width: 530px;
height: 64px;
}
footer{
    margin-top: 128px;
    height: 601px;
}
.up{
display: flex;
height: ;
}
.up h3{
    font-size: 1.375rem;
    }
    
.up-1{
height: 205px;
width: 346px;
    
}
.up-1 img{
    margin-top: 36px;
    width: 269px;
}
.up-1 h3{
    font-family: 'Roboto';
    font-weight: 700;
    color: #828282;
    margin-top: 19px;
}

.up-1 p{
  
font-family: 'Roboto';
font-weight: 400;
font-size: 1rem;
color: #828282;
margin-top: 19px;
}    
.up-2{
    margin-left: 285px;
    width: 193pxx;
}
.up-2 h3, .up-3 h3{
    margin-top: 26px;
    font-family: 'Roboto';

font-weight: 400;
font-size: 1.375rem;
}
.up-2 p, .up-3 p{
    margin-top: 14px;
    font-family: 'Roboto';
font-weight: 400;

font-size: 0.875rem;
color: #4E4E4E;
}
.up-3{
    margin-left: 328px;
    display: flex;
    flex-direction: column;
    width: 604px;
    justify-content: space-between;
}
.up-3 .icons{
display: flex;
justify-content: space-between;
margin-top: 137px;
background: #FFFFFF;
mix-blend-mode: color;
}
.up-3 .icons img{
    opacity: 0.5;
    }
.up-3-content{
    display: flex;
    justify-content: space-between;
}
.up-3-content-right-m{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}
.botomm{
height: 118px;
margin-top: 30px;
display: flex;
justify-content: space-between;
}

.botomm-left{
width: 350px;
}
.botomm-left .p1{
    margin-top: 24px;
    font-family: 'Roboto';
font-weight: 400;
font-size: 0.875rem;
color: #828282;

}.botomm-left .p2{
    margin-top: 3px;
    font-family: 'Roboto';
font-weight: 400;
font-size: 0.875rem;
color: #828282;
    
}.botomm-left .p3{
    font-family: 'Roboto';
font-weight: 400;
font-size: 1rem;
color: #B7B7B7;
margin-top: 4px;
}
.botomm .p4{
width: 708px;
margin-top: 38px;
font-family: 'Roboto';
font-weight: 400;
font-size: 1rem;
color: #B7B7B7;

    }